*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
}

.viewport-slider-item {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.viewport-slider-button {
  border: 1px solid #676161;
  color: #3a2a2a;
  cursor: pointer;
  opacity: 0.75;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity .35s;
  font-size: 1.15em;
  letter-spacing: 0.5em;
}

.viewport-slider-button:hover {
  opacity: 1;
}

.viewport-slider-paginator {
  background-color: #ccc;
  border: 1px solid #fff;
  box-shadow: 0 0 2px #ccc;
}

.viewport-slider-paginator-bullet {
  background: #999;
  cursor: pointer;
  opacity: .4;
  transition: opacity .35s;
}

.viewport-slider-paginator-bullet.is-active:hover {
  cursor: no-drop;
}
.viewport-slider-paginator-bullet:hover:not(.is-active) {
  opacity: .6;
}

.viewport-slider-paginator-bullet.is-active {
  background: #fff;
  opacity: 1;
}

.content {
  font-size: 6em;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 0;
}

.has-overlay::after {
  content: '';
  background-color: #d5af86;
  left: 0;
  height: 100%;
  opacity: .7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.has-overlay > div {
  z-index: 2;
}

.love {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.love i {
  animation: heartbeat 1.6s ease 0s infinite normal;
  color: #de808c;
  font-size: 120px;
  margin-bottom: 40px;
}

.love iframe {
  margin-bottom: 10px;
}

.love iframe:last-child {
  margin-bottom: none;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}

.classItem2 {
  background-color: red;
  border: 10px dotted;
  height: 100vh;
}

.button4 {
  font-size: 3em;
  background-color: #ff0000;
  color: #fff;
  transform: rotateX(180deg) rotateY(180deg) !important;
}

.paginator-fixed {
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  height:50px;
  z-index:99;
}
