.viewport-slider-item {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.viewport-slider-button {
  border: 1px solid #676161;
  color: #3a2a2a;
  cursor: pointer;
  opacity: 0.75;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity .35s;
  font-size: 1.15em;
  letter-spacing: 0.5em;
}

.viewport-slider-button:hover {
  opacity: 1;
}

.viewport-slider-paginator {
  background-color: #ccc;
  border: 1px solid #fff;
  box-shadow: 0 0 2px #ccc;
}

.viewport-slider-paginator-bullet {
  background: #999;
  cursor: pointer;
  opacity: .4;
  transition: opacity .35s;
}

.viewport-slider-paginator-bullet.is-active:hover {
  cursor: no-drop;
}
.viewport-slider-paginator-bullet:hover:not(.is-active) {
  opacity: .6;
}

.viewport-slider-paginator-bullet.is-active {
  background: #fff;
  opacity: 1;
}
